<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <!--<a class="navbar-brand" href="/"><img src="/assets/images/logo.png" alt="logo" width="100" height="60">Assignment 1</a>-->
      <a class="navbar-brand" href="/"><img src="https://lh3.googleusercontent.com/B22NwIfhNEtuVCFJMuOn4oJ6O-Bq210DiL3K9xLnBCAfTlNcVQYEKq7bkbM-k6Ngd5YZXWBzWdJZVnyx8WddBrYY751V5nWQjrbD1FsZ_aqhNEF5ev3ljgwmz2bF0GpWIhh8-IOW60k=w2400" alt="logo" width="100" height="60">Assignment 1</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
         
          <% if (title =="Home"){%>
          <li class="nav-item">
            <%} else {%>
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          <%}%>
          </li>

          <% if (title =="about"){%>
          <li class="nav-item">
            <%} else {%>
            <a class="nav-link active" aria-current="page" href="/about">About Me</a>
            <%}%>
          </li>

          <% if (title =="projects"){%>
          <li class="nav-item">
            <%} else {%>
            <a class="nav-link active" aria-current="page" href="/projects">Projects</a>
            <%}%>
          </li>

          <% if (title =="services"){%>
          <li class="nav-item">
            <%} else {%>
            <a class="nav-link active" aria-current="page" href="/services">Services</a>
            <%}%>
          </li>

          <% if (title =="contact"){%>
          <li class="nav-item">
            <%} else {%>
            <a class="nav-link active" aria-current="page" href="/contact">Contact</a>
            <%}%>
          </li>
          
      </div>
    </div>
  </nav>