/* custom css*/

p {
    color: red;
}

h1 {
    color: blue;
    text-align: center;
}

h4 {
    color: rgb(26, 53, 26);
    line-height: 40px;
}

li {
    font-size: large;
}

ul {
    list-style: square;
}

.innerdiv {
	margin-top:2%;
	margin-bottom:2%;
	margin-right: auto;
	margin-left: auto;
	background-color: #f2fdfd;
	width:60%;
	border: 2px solid #8f0377;
	box-shadow: 5px 5px rgb(105, 105, 105);
	padding: 2%;
	border-radius: 25px;
}

.projectList {
    text-align: center;
    list-style: none;
    padding-top: 20px;
    margin-bottom: 20px;
}

.projectList li {
    font-size: larger;
    font-weight: bold;
    margin-bottom: 50px;
    line-height: 50px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.imgList {
    border: 2px solid #8f0377;
}